.roulette {
    width: 800px;
    height: 500px;
    margin: 0 auto;
    background-color: whitesmoke;
    box-shadow: 10px 10px 10px #ccc;
    padding: 50px 20px;
}
/* Bullets */
.bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.bullets-disabled {
    pointer-events: none;
}
.bullet {
    display: flex;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: rgb(121, 115, 115);
    color: white;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}
.bullet-selected {
    background-color: rgb(29, 26, 26);
}
.bullet-fired {
    background-color: rgb(160, 51, 23);
}
/* Fire button */
.commands {
    width: 200px;
    margin: 0 auto;
}
.fire {
    background-color: rgb(160, 51, 23);
    color: whitesmoke;
    padding: 10px 0;
    cursor: pointer;
    /* box-shadow: 10x, 5px, 10px #ccc; */
    border-radius: 20px;
    margin: 40px auto;
    /* text-align: center; */
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    width: 200px;
    border: 0;
}
.fire:disabled {
    color: black;
    background-color: rgb(160, 51, 23, 0.4);
}
/* Model */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-animate {
    background-color: rgba(214, 206, 203, 0.4);
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
.modal-header {
    padding: 2px 16px;
    background-color: rgb(160, 51, 23, 0.2);
    color: white;
}
.modal-body {
    padding: 2px 16px;
}
.modal-footer {
    padding: 2px 16px;
    background-color: rgb(160, 51, 23, 0.2);
    color: white;
}
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.restart {
    font-size: 15px;
    color: black;
    background-color: rgb(160, 51, 23);
    padding: 10px 20px;
    width: 150px;
    border-radius: 7px;
}